.home {
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  &>div{
    margin: 50px auto;
  
  }
  &>div:not(.home-banner){
    h1{
      margin-bottom: 25px;
      display: inline-block;
      &::after{
        content: '';
        position: absolute;
        background-color: var(--colorPrincipal);
        width: 110%;
        height: 50px;
        left: -5%;
        transform: rotate(-3deg);
        z-index: -1;
      }
    }
  }
  .home-banner{
    width: 90%;
  }
  .hp-presentation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position:  relative;
    div {
      width: 50%;
    }
    h1 {
      font-size: 8vh;
    }
    b {
      font-size: 5vh;
    }
    img {
      object-fit: cover;
      width: 50%;
      border-radius: 200px;
    }
  }
  .hpp-contactBtn {
    a {
      background-color: var(--colorPrincipal);
      margin-top: 10px;
      margin-right: 10px;
      color: white;
      padding: 10px 25px;
      border: solid 1px var(--colorPrincipal);
      border-radius: 50px;
      &:hover {
  
        background-color: transparent;
        color: var(--colorPrincipal);
      }
    }
  }
  
}






@media screen and (max-width: 512px) {
  .hpp-contactBtn a {
    font-size: 14px;
    padding: 8px 15px;
  }
  .hp-presentation div {
  width: 100%;
}
  .hp-presentation img {
    top: -150px;
    right:  0;
    position: absolute;
  }
}
