/* Compétence  */
.home-skill {
  width: 90%;
  color: white;
  .skillList{
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    article{
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 20px;
      background-color: var(--secondaryColor);
      padding: 10px 25px;
      border-radius: 10px;
      filter: grayscale(200);
      transition: all .5s;
      &:hover{
        filter: none;
        background-color: var(--primaryColor);
      }
      img{
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
      b{
        font-size: 30px;
      }
    }
  }
}

/* Fin compétence */

@media screen and (max-width: 512px) {

}
