@media screen and (max-width: 512px) {
	.pageHeader
	{
		height: 12vh;
	}
	div.phHambuger
	{
		height: 8vh;
		width: 8vh;
	}
	.pageContent > div
	{
		width: 90% !important;
	}


	/*  */
	#pcw-workList div:nth-child(1),#pcw-workList div:nth-child(3)
	{
		display: none;
	}
	.s-active
	{
		width: 100% !important;
	}

	.pch-myPresentation img
	{
		display: none;
	}
	/*Pour la partie contact  */
	.pcc-Infos
	{
		width: 90%;
		/* background-color: grey; */
	}
}