@keyframes percent100 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes percent95 {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}
@keyframes percent90 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes percent85 {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@keyframes percent80 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes percent70 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes percent60 {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes percent55 {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@keyframes percent50 {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
