$primaryColor: #9C6E5B;
$secondaryColor: #121A33;
 
body {
}
h1,.partTitle{
  margin-bottom: 25px;
  // width: 100%;
  position: relative;
  
}

/*  */
.fixedAsideNav {
  width: 60px;
  height: 60px;
  border-radius: 80px;
  background-color: var(--primaryColor);
  cursor: pointer;
  box-shadow: black 0px 1px 3px, black 0px 1px 2px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999999999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}

/*  */

.container { 
  display: flex;
  position: relative;
}
.containerHided {
  height: 100vh;
  z-index: 100;
  width: 100%;
  background-color: var(--secondaryColor);
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
}
.chNavLink {
  width: 100%;
  display: flex;
 flex-wrap: wrap;
 span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px 0;
  font-weight: bold;
  color: white;
  font-size: 4vh;
  letter-spacing: 2px;
  &:hover {
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
  }
  cursor: pointer;
}
}
.containerVisible {
  z-index: 10100000;
  width: 100%;
  background-color: white;
  transition: all 0.7s ease 0.1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.containerVisibleRotate {
  transform: translateX(100vw);
}

.pageHeader a {
  color: white;
}
.pageHeader {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  height: 10vh;
}
/* Debut partie logo */
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo a {
  margin: auto;
  display: flex;
  align-items: center;
  color: var(--primaryColor) !important;
  font-weight: bold;
  font-size: 30px;
}
/* Fin logo */

/*  */
.navBtn {
  color: white;
}
.asideNavActive {
  color: var(--secondaryColor) !important;
  position: relative;
  transition: all 0.5s;
}
aside a {
  color: white;
}
.asideNavActive::after {
  content: "";
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: var(--secondaryColor);
}


@media screen and (max-width: 512px) {

  /*  */
  .chNavLink {
    width: 70%;
  }
  .containerVisible {

  }
  .containerVisibleRotate {
    transform: rotate(3deg);
  }
  /*  */
}


.btnStyle {
      background-color: var(--primaryColor);
      margin-top: 10px;
      color: white;
      padding: 10px 25px;
      border-radius: 50px;
      &:hover {
        border: solid 1px var(--primaryColor);
        background-color: transparent;
        color: var(--primaryColor);
      }
      &.btnOulineStyle {
        background-color: transparent;
        border: solid 1px var(--primaryColor);
        color:  var(--primaryColor);
        padding: 10px 25px;
        border-radius: 50px;
        &:hover {
          background-color: var(--primaryColor);
          color: white;
        }
      }
}

  h1.sectionTitle{
    position: relative;
    text-align: center;
    font-size: 40px;
    sup{
      white-space: nowrap;
      position: absolute;
      color: #9C6E5B30;
      font-size: 60px;
      width: 120%;
      left: 0;
      top: -50%;
    }
  }
