/* Compétence  */
.skillsPart {
  width: 90%;
  color: white;
  overflow: auto;
}
.skillsPart h3{
  /* background-color: #a84cb8; */
}
.skillList > div > i{
  position: absolute;
  font-size: 40px;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  height: 100px;
  width: 100px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%) !important;
  line-height: 100px;
  margin: auto auto 20px auto;
}
.progressBar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 25px;
  position: relative;
}
.progressBar div {
  background-color: var(--colorPrincipal);
  height: 100%;
}

div.pcskTitle {
  text-align: center;
  margin: 0 0 20px 0;
}
div.pcskBody {
  /* background-color: pink; */
}
div.skillList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  scrollbar-color: grey var(--secondBgColor);
  scrollbar-width: thin;
}
.skillList::-webkit-scrollbar {
  width: 12px;
}

.skillList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.skillList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px violet;
}
div.skillList h3 {
  text-align: center;
  margin: 0 0 10px 0;
}

/* .sl-tools {
  order: 1;
}
.sl-webLanguage {
  order: 2;
}
.sl-webFrameworkAndLibrary {
  order: 4;
}
.sl-other {
  order: 3;
} */
.sl-tools,
.sl-webLanguage,
.sl-webFrameworkAndLibrary,
.sl-other {
  text-align: center;
  width: 30%;
  background-color: var(--ob2);
  padding: 80px 10px 25px 10px;
  margin: 40px 0;
  border-bottom: 2px solid transparent;
  position: relative;
}
.sl-tools section,
.sl-webLanguage section,
.sl-webFrameworkAndLibrary section,
.sl-other section {
  padding: 5px 15px;
  color: var(--cwd3);
}
.sl-webLanguage section,
.sl-webFrameworkAndLibrary section {
}
.sl-webLanguage section h5,
.sl-webFrameworkAndLibrary section h5 {
  margin: 0 0 5px 0;
}

/* #2c98f0 */


.sl-tools{
  border-color: #2c98f0;
}
.sl-tools  i{
  background-color: #2c98f0;
}
.sl-webLanguage{
  border-color: #ec5453;
}
.sl-webLanguage  i{
  background-color: #ec5453;
}
.sl-webFrameworkAndLibrary{
  border-color: #f9bf3f;
}
.sl-webFrameworkAndLibrary  i{
  background-color: #f9bf3f;
}
.sl-other{
  border-color: #a84cb8;
}
.sl-other  i{
  background-color: #a84cb8;
}

/* Fin compétence */

@media screen and (max-width: 512px) {
  .sl-tools {
    order: 3;
  }
  .sl-webLanguage {
    order: 1;
  }
  .sl-webFrameworkAndLibrary {
    order: 2;
  }
  .sl-other {
    order: 4;
  }
  .sl-tools,
  .sl-webLanguage,
  .sl-webFrameworkAndLibrary,
  .sl-other {
    width: 100%;
  }
}
