/*  */
.contactPart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  width: 90%;
  /* background-color: blueviolet; */
}
input:focus{
  border: solid 2px var(--colorPrincipal) !important;
  outline: 0 !important;
}
input[type="radio"]{
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px !important;
  height: 25px !important;
  border-radius: 100%;
  padding: initial !important;
  margin-right: 10px;
}
input[type="radio"]:checked{

}
input[type="radio"]:checked::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 100%;
  background-color: var(--colorPrincipal);
}
label{
  display: flex;
  align-items: center;
}
.contactPart h1{
  /* font-size: 4em; */
}
.contactPart section{
width: 45%;
}
.cp-infos{
}
.cp-infos div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.cp-infos div:not(:last-child){
  flex-direction: column;
}
.cp-infos div p{
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 2.5vh;
}
.cp-infos div p i{
  font-size: 30px;
  width: 60px;
  line-height: 60px;
  height: 60px;
  color: var(--colorPrincipal);
  background-color: var(--ob4);
  margin-right: 20px;
}
.cp-infos div a{
  padding: 10px 15px;
  background-color: var(--ob2);
  /* color: var(--colorPrincipal); */
  color: white;
  margin: 5px 0;
  border-radius: 5px;
}
.cp-infos div a i{
  /* margin-right: 5px; */
}
.cp-infos div:last-child{
/* flex-direction: row; */
}
/*  */


.cp-form{
background-color: var(--ob2);
padding: 50px 0;
border-radius: 5px;
}
.cp-form form{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.cp-form form label{
  margin-bottom: 10px;
}
.cp-form form input{
  padding: 20px 15px;
  border: none;
  background-color: var(--ob4);
  color: grey;
}
.cp-form form div{
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.cp-form form a{
  color: white;
  text-align: center;
  background-color: var(--colorPrincipal);
  padding: 15px 0;
}

@media screen and (max-width: 512px) {
  .contactPart {
    width: 95%;
  }
  .contactPart section{
    width: 95%;
    margin: 25px auto;
    }
    .cp-infos div p{
      /* font-size: 2.5vh; */
    }
    .cp-infos div p i{
      /* font-size: 25px;
      width: 50px;
      line-height: 50px;
      height: 50px; */
      margin-right: 10px;
    }
}
