/* A propos */
.aboutPart {
  width: 90%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  color: white;
}
.abp-Text {
  color: white;
  margin: 20px 0 20px 0;
  width: 30%;
}
.abp-Text p {
  line-height: 30px;
  font-size: 15px;
}
.abp-Text h2 {
}
/* Fin a propos */

.abpImg {
  width: 30%;
  display: flex;
}
.abpImg img {
  width: 100%;
}

@media screen and (max-width: 512px) {
  .abp-Text {
    width: 90%;
  }
  .abpImg {
    margin: auto;
  }
}
