/*  */
.contactPart {
  display: flex;
  flex-wrap: wrap;
  color: white;
  width: 30%;
}
.cp-Infos {
  width: 100%;
  color: white;
  background-color: var(--ob2);
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.cp-Infos p {
}
.cp-Infos button {
  width: 50%;
  margin: 20px auto 0 auto;
}

/*  */

@media screen and (max-width: 512px) {
  .contactPart {
    width: 90%;
  }
}
